$darker:  #333333;
$dark:    #666666;
$light:   #B4B4B4;
$lighter: #FFFFFF;
$accent:  #FFCC00;





/* Viewports
-----------------------------------------------------------------------------*/



/* Größen und Abstände
-----------------------------------------------------------------------------*/

$bfs: 1rem;

/* Entlang der Fibonacci Reihe */
$xs: $bfs * 0.5;
$s: $bfs * 0.8;
$m: $bfs * 1.3;
$l: $bfs * 2.1;
$xl: $bfs * 3.4;
$xxl: $bfs * 5.5;





/* Schriftarten
-----------------------------------------------------------------------------*/

@font-face {
  font-family: 'Roboto-light';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto-light'), url(/assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url(/assets/fonts/Roboto/Robfsoto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url(/assets/fonts/Roboto/Roboto-Bold.ttf);
}

$font-sans-serif: "Roboto-light";





/* Misc
-----------------------------------------------------------------------------*/

$border-radius: $xs;
