h1, h2, h3, p, code, pre{
  margin-bottom: $m;
}

h1, h2, h3{
  font-weight: 100;
}

p, table, figcaption, dt, dl, dd{
  line-height: 130%;
  font-size: $m;
}

h1{
  font-size: $xl;
  transition: .5s;
}

h2{
  font-size: $l;
}

h3{
  font-size: $m;
}
