.page{

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $m;
  grid-row-gap: $m;
}

.grid-container-zweispalter{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $m;
  grid-row-gap: $m;


}
